@font-face {
  font-family: DancingScript;
  src: url(DancingScript.ttf);
}
html{
	margin:5em;
}
.topstyle{
	position: relative; 
	height: 1920px;
	width: 1080px;
}

#logo{
	margin-left:2%;
	float:left; 
	height:8em;
	width:8em;
}


header
{
	 position: absolute; 
	font-size: 4em;
	padding-left: 4em;
	padding-top: 0.5em;
	font-family: "DancingScript";
	margin-bottom: 0.5em;	

}

nav 
{
	margin-right: 5.0em;
	font-size: 2.5em;
	font-family: "DancingScript";
	text-align: right;
	
}
nav >a
{
	text-decoration: none;	
	margin: 0.5em;
}